@import "../../common_components/Common.scss";
@import "../../common_components/mixin";

.join-outer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: $bg-color-khaki;

  .join-inner-container {
    width: $form-width-xl;
  }

  .join-input {
    @include formInputBase;
  }

  .heading {
    @include h1FormTitleBase;
  }

  .button {
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    background: $primary-color;
    padding: $space-m;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    cursor: pointer;
  }

  @include desktopS {
    .join-inner-container {
      width: $form-width-l;
    }
  }

  @include tablet {
    .join-inner-container {
      width: $form-width-m;
    }
  }

  @include mobile {
    .join-inner-container {
      width: $form-width-s;
    }
  }

  button:focus {
    outline: 0;
  }
}

@include mobile {
  .join-outer-container {
    height: calc(100% - 53px);
  }
}