@import "../Common.scss";

.header-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;

  .header-bar {
    padding: $p-m $p-l;
    background-color: $header-color;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;

    .header-title {
      flex-grow: 1;
      color: $color-white;
      margin: 0;
    }

    .header-menu {
      flex-grow: 0;
    }
  }
}
