@import "../Common.scss";
@import "../mixin";

.header {

  &-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;

    &-fixed {
      position: fixed;
    }
  }

  &-bar {
    padding: $p-m $p-l;
    background-color: $primary-color;
    display: flex;
    align-items: center;
  }

  &-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-right-username {
    font-weight: bold;
    color: white;
    margin-right: $p-m;
    white-space: nowrap;
  }

  &-title {
    flex-grow: 1;
    color: $color-white;
    margin: 0;
  }

  &-button {
    flex-grow: 0;
  }

  &-menu {
    flex-grow: 0;
  }
}

@include mobile {
  .header-parent {
    position: static;
  }
}