@import "../Common.scss";

.nowrapp-loading-indicator-centered {
    display: flex;
    justify-content: center;
}

.nowrapp-loading-indicator,
.nowrapp-loading-indicator :after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin: $space-s;
}

.nowrapp-loading-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: $primary-color;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}