@import "../../../common_components/Common.scss";

.find-room-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: animateModal;
  animation-duration: 0.5s;

  @keyframes animateModal {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .find-room-modal-header {
    border-bottom: 1px solid $color-white;
    padding: $p-m $p-l;
    display: flex;
    align-items: center;

    .find-room-modal-title {
      flex-grow: 1;
      text-align: left;
    }

    .find-room-search-area {
      width: 35%;
    }

    .find-room-close-button {
      margin-left: $p-l;
    }
  }

  .find-room-content {
    background-color: #1a1a1de6;
    width: 60%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-white;
    color: $color-white;
  }

  @include mobile {
    .find-room-content {
      width: 90%;
    }
  }

  .find-room-list {
    overflow-y: scroll;
    background-color: #54545473;
  }

  .find-room-avoid-scroll {
    overflow: hidden;
  }

  .find-room-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $color-white;

    .find-room-info {
      flex-grow: 1;
      padding: $p-l;
    }

    .find-room-join-button {
      padding: $p-l;
    }
  }
}