@import "../../../common_components/Common.scss";
@import "../../../common_components/mixin";

.find-room {

  &-container {
    @include modalBase;
  }


  &-modal-header {
    @include modalHeaderBase;
  }

  &-modal-title {
    flex-grow: 1;
    text-align: left;
  }

  &-search-area {
    width: 35%;
  }

  &-close-button {
    margin-left: $p-l;
  }

  &-content {
    @include modalContentBase(45%, 70%);
  }

  @include tablet {
    &-content {
      width: 60%;
    }
  }

  @include mobile {
    &-content {
      width: 90%;
    }
  }

  &-list {
    overflow-y: scroll;
    color: $dark-text-color;
    font-weight: bold;
  }

  &-avoid-scroll {
    overflow: hidden;
  }

  &-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $typical-border-color;
  }

  &-info {
    flex-grow: 1;
    padding: $p-l;
  }

  &-join-button {
    padding: $p-l;
  }

  &-no-result {
    color: $color-grey;
  }
}