@import "../../../common_components/Common.scss";
@import "../../../common_components/mixin";

.find-room {

  &-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: animateModal;
    animation-duration: 0.5s;

    @keyframes animateModal {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }


  &-modal-header {
    background-color: $primary-color;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $color-white;
    padding: $p-m $p-l;
    display: flex;
    align-items: center;
  }

  &-modal-title {
    flex-grow: 1;
    text-align: left;
  }

  &-search-area {
    width: 35%;
  }

  &-close-button {
    margin-left: $p-l;
  }

  &-content {
    background-color: white;
    width: 45%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-white;
    color: $color-white;
  }

  @include tablet {
    &-content {
      width: 60%;
    }
  }

  @include mobile {
    &-content {
      width: 90%;
    }
  }

  &-list {
    overflow-y: scroll;
    color: $dark-text-color;
    font-weight: bold;
  }

  &-avoid-scroll {
    overflow: hidden;
  }

  &-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $typical-border-color;
  }

  &-info {
    flex-grow: 1;
    padding: $p-l;
  }

  &-join-button {
    padding: $p-l;
  }

  &-no-result {
    color: $color-grey;
  }
}