@import '../../../common_components/Common.scss';

.chat-list-item {

    &-container {
        display: flex;
        flex-direction: column;
        height: 80px;
        border-bottom: 1px solid $typical-border-color;
    }

    &-room-name {
        color: #3c4a60;
        font-size: 20px;
    }
}