@import "../../common_components/Common.scss";

.outer-container {
  display: flex;
  height: calc(100% - 53px);
  background-color: $bg-color-black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $color-white;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

@include desktop {
  .container {
    width: 60%;
  }
}

@include mobile {
  .outer-container {
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}
