@import "../../common_components/Common.scss";

.chat {
    &-outer-container {
      display: flex;
      height: calc(100% - 53px);
      background-color: $bg-color-black;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $background-white-gray;
      box-shadow: $layer3-boxshadow;
      height: 100%;
      width: 100%;
    }

    @include mobile {
      &-outer-container {
        align-items: center;
        justify-content: center;
      }
    
      &-container {
        border-radius: 8px;
      }
    }
}