@import "../../Common.scss";

.header-status-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $p-m;

  .header-status-message {
    color: $api-message-color;
  }
}

.header-error {
  background-color: $error-color;
}
