@import "../Common.scss";
@import "../mixin";

.custom-button {
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  padding: $space-m;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;

  @include customButtonColorBase($default-color, $default-dark-color);
}

.button-primary {
  @include customButtonColorBase($primary-color, $primary-dark-color);
}

.button-danger {
  @include customButtonColorBase($danger-color, $danger-dark-color);
}

.button-text-bold {
  font-weight: bold;
}

.button-xs {
  padding: $space-xs;
}

.button-sm {
  padding: $space-s;
}

.button-lg {
  padding: $space-l;
}

.button-shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.button-loading-indicator,
.button-loading-indicator :after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.button-loading-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: $primary-color;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}