@import "../Common.scss";

.link-container {
  margin-top: $space-m;

  .styled-link {
    text-decoration: none;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .disable-link {
    pointer-events: none;
  }
}