@import "./common_components/Common.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: $color-white;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}