@import "./common_components/Common.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: $color-white;
}

:root {
  --app-height: 100vh;
}

#root {
  height: 100vh;
  height: var(--app-height);
}

* {
  box-sizing: border-box;
}