@import '../../../common_components/Common.scss';
@import "../../../common_components/mixin";

.chat-input-form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.chat-input {
  border: none;
  border-radius: 0;
  padding: 3%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.send-button {
  cursor: pointer;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  background: $primary-color;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;

  &:hover {
    background-color: $primary-dark-color;
  }

  &:disabled {
    background-color: $primary-dark-color;
  }
}

@include mobile {
  .chat-input {
    padding: 3%;

    &::placeholder {
      font-size: $common-text-small;
    }
  }
}