@import "../Common.scss";
@import "../mixin";

.header-status-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $p-m;

  .header-status-message {
    font-weight: bold;
    color: white;
  }

  @include mobile {
    .header-status-message {
      font-size: 13px;
    }
  }
}

.header-error {
  background-color: $error-color;
}